<app-loader></app-loader>
<mat-sidenav-container class="app-container">
  <mat-sidenav mode="push" #sidenav class="app-container__sidenav">
    <mat-list class="app-container__sidenav-list">
      <a routerLink="/homepage" routerLinkActive="active">
        <mat-list-item class="app-container__sidenav-list__item">
          <mat-icon>home</mat-icon>
          <div>{{ 'HomePage.title' | translate }}</div>
        </mat-list-item>
      </a>
      <a routerLink="/league" routerLinkActive="active">
        <mat-list-item class="app-container__sidenav-list__item">
          <mat-icon>format_list_numbered</mat-icon>
          <div>{{ 'League.title' | translate }}</div>
        </mat-list-item>
      </a>
      <mat-list-item class="app-container__sidenav-list__item">
        <mat-icon>group</mat-icon>
        <div> ??? </div>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <div class="header">
    <div class="header__left">
      <div>
        <mat-icon (click)="sidenav.open()">menu</mat-icon>
      </div>
      <div class="header__title">
      FootBall League
    </div>
    </div>
    <div class="header__right">

      <span class="header__right-flag flag-icon" [ngClass]="flag" (click)="toggleLanguage()"> </span>
    </div>
  </div>

  <router-outlet></router-outlet>

</mat-sidenav-container>
