<app-loader></app-loader>
<md-sidenav-container class="app-container">
  <md-sidenav mode="push" #sidenav class="app-container__sidenav">
    <md-list class="app-container__sidenav-list">
      <a routerLink="/homepage" routerLinkActive="active">
        <md-list-item class="app-container__sidenav-list__item">
          <md-icon>home</md-icon>
          <div>{{ 'HomePage.title' | translate }}</div>
        </md-list-item>
      </a>
      <a routerLink="/league" routerLinkActive="active">
        <md-list-item class="app-container__sidenav-list__item">
          <md-icon>format_list_numbered</md-icon>
          <div>{{ 'League.title' | translate }}</div>
        </md-list-item>
      </a>
      <md-list-item class="app-container__sidenav-list__item">
        <md-icon>group</md-icon>
        <div> ??? </div>
      </md-list-item>
    </md-list>
  </md-sidenav>

  <div class="header">
    <div class="header__left">
      <div>
        <md-icon (click)="sidenav.open()">menu</md-icon>
      </div>
      <div class="header__title">
      FootBall League
    </div>
    </div>
    <div class="header__right">

      <span class="header__right-flag flag-icon" [ngClass]="flag" (click)="toggleLanguage()"> </span>
    </div>
  </div>

  <router-outlet></router-outlet>

</md-sidenav-container>
