<md-sidenav-container class="app-container">
  <md-sidenav mode="push" #sidenav class="app-container__sidenav">
    <md-list class="app-container__sidenav-list">
      <a routerLink="/homepage" routerLinkActive="active">
        <md-list-item class="app-container__sidenav-list__item">Κεντρική Σελίδα</md-list-item>
      </a>
      <a routerLink="/leaderboard" routerLinkActive="active">
        <md-list-item class="app-container__sidenav-list__item">Βαθμολογία</md-list-item>
      </a>
      <md-list-item class="app-container__sidenav-list__item">Πρωτάθλημα</md-list-item>
    </md-list>
  </md-sidenav>

  <div class="header">
    <md-icon (click)="sidenav.open()">reorder</md-icon>
    <span class="header__title">
    FootBall League
  </span>
  </div>

  <router-outlet></router-outlet>

</md-sidenav-container>
