@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import '~@angular/material/prebuilt-themes/purple-green.css';
//@import "~flag-icon-css/css/flag-icon.min.css";

/* You can add global styles to this file, and also import other style files */
body {
  font-family: Montserrat;
  margin: 0;
  height: 100%;
  min-height: 100%;
}

html {
  height: 100%;
}

mat-cell {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  text-align: center;
}

.mat-sort-header-button{
  margin: auto;
}

.mat-sort-header-arrow{
  margin: 0px !important;
}

::-webkit-scrollbar {
  display: none;
}
